@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Regular.eot');
    src: local('☞Noir Pro'), local('NoirPro-Regular'),
        url('../fonts/NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NoirPro-Regular.woff2') format('woff2'),
        url('../fonts/NoirPro-Regular.woff') format('woff'),
        url('../fonts/NoirPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NoirPro';
    src: url('../fonts/NoirPro-Light.eot');
    src: local('☞Noir Pro Light'), local('NoirPro-Light'),
        url('../fonts/NoirPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NoirPro-Light.woff2') format('woff2'),
        url('../fonts/NoirPro-Light.woff') format('woff'),
        url('../fonts/NoirPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueRegular.eot');
    src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('../fonts/HelveticaNeueRegular.woff') format('woff'),
        url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
        url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
	margin:0;
	padding:0;
    font-family: 'NoirPro';
}
ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
a,a:hover,a:focus {
	color:inherit;
	outline:0;
	text-decoration:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form-control:focus {
    box-shadow: inherit;
}
img {
	max-width:100%;
}
.wrapper {
    overflow: hidden;
}
.site-banner {
    background-color: #000000;
}
.banner-content {
    padding: 243px 35px 253px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content h1 {
    font-size: 64px;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}
.banner-content h1 .special {
    color: #B28C5F;
    font-weight: 300;
}
.banner-content p {
    font-size: 20px;
    color: #707070;
    font-family: 'HelveticaNeue';
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.content-area {
    position: relative;
}
.content-area:before, .content-area:after {
    content: "";
    position: absolute;
    left: 50%;
    height: 121px;
    width: 1px;
    background-color: #ffffff;
    opacity: 0.53;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.content-area:before {
    bottom: 115%;
}
.content-area:after {
    top: 115%;
}
.banner-img {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.custom-nav {
    padding: 0;
}
.custom-nav .navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 90px;
}
.custom-nav .navbar-nav a {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
}
.custom-nav .navbar-nav a:hover,
.custom-nav .navbar-nav a:focus,
.custom-nav .navbar-nav li.active a {
    color: #B28C5F;
}
.search span {
    display: inline-block;
    background: #000000;
    width: 43px;
    height: 43px;
    padding: 7px;
    cursor: pointer;
}
.site-header {
    padding: 13px 0;
}
.private-investigator {
    padding: 100px 0 180px;
}
.section-heading {
    font-size: 38px;
    color: #B28C5F;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
}
.private-investigator p {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}
.private-investigator img {
    filter: grayscale(1);
}
.investigator-services {
    background-color: #000000;
    padding: 100px 0;
    position: relative;
}
.investigator-services .container {
    background-color: #ffffff;
    padding: 80px 150px 20px;
}
.investigator-services .section-heading {
    font-size: 48px;
    color: #997952;
    margin: 0;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
}
.service-card .img {
    background-color: #e0e0e0;
    height: 230px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}
.service-card .img img {
    max-width: 118px;
}
.service-card h3 {
    font-size: 34px;
    position: relative;
    padding-left: 35px;
    color: #000000;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}
.service-card h3:hover,
.service-card h3:focus,
.service-card li:hover,
.service-card li:focus,
.service-card:hover h3 {
    color: #997952;
}
.service-card h3:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #997952;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.service-card li {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
}
.service-card {
    padding: 43px 0;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    transition: all 0.3;
}
.service-card:hover .img {
    box-shadow: 0 0 20px rgba(224,224,224,0.5);
}
.all-services {
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #000000;
    font-family: 'EB Garamond', serif;
}
.all-services:hover,
.all-services:focus {
    color: #997952;
    border-color: #997952;
}
.site-footer {
    border-top: 7px solid #997952;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    padding: 100px 0 25px;
}
.footer-address {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.7;
    padding-left: 22px;
    position: relative;
}
.footer-address:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 8px;
    border-left:3px solid #997952;
}
.footer-address a:hover,
.footer-address a:focus {
    color: #997952;
}
.footer-address address {
    margin-bottom: 0;
}
.footer-address address + address {
    margin-top: 30px;
}
.contact-form {
    display: inline-block;
    max-width: 490px;
    width: 100%;
    background: #F7F7F7;
    padding: 25px 20px;
}
.contact-form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #D5D5D5;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}
.contact-form .form-control:focus {
    border-color:#997952;
}
.contact-form .form-control::-webkit-input-placeholder {
  color: rgba(0,0,0,0.27);
}
.contact-form .form-control::-moz-placeholder {
  color: rgba(0,0,0,0.27);
}
.contact-form .form-control:-ms-input-placeholder {
  color: rgba(0,0,0,0.27);
}
.contact-form .form-control:-moz-placeholder {
  color: rgba(0,0,0,0.27);
}
.contact-form textarea.form-control {
    height: 141px;
    resize: none;
}
.submit-btn {
    font-size: 21px;
    background: #000000;
    font-weight: 300;
    color: #fff;
    border: 0;
    padding: 8px 53px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.submit-btn:hover,
.submit-btn:focus {
    background: #997952;
    outline: 0;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-group.text-box {
    margin-bottom: 25px;
}
.footer-links {
    padding-top: 200px;
}
.footerr-site-links li {
    padding: 0 15px;
}
.footerr-site-links a {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}
.footerr-site-links a:hover,
.footerr-site-links a:focus,
.footerr-site-links li.active a {
    color: #997952;
}
.social-links li + li {
    margin-left: 9px;
}
.social-links a {
    background: #fff;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
}
.social-links a:hover,
.social-links a:focus {
    background: #997952;
    color: #ffffff;
}
.footerr-site-links nav {
    line-height: 1;
}
.copyright {
    background-color: #000000;
    padding: 15px 0;
}
.copyright p {
    margin: 0;
    font-size: 15px;
    color: #B28C5F;
    font-weight: 300;
    text-align: center;
}
.partners a.ico {
    display: inline-block;
    max-width: 100px;
}
.partners a.abi {
    display: inline-block;
    max-width: 170px;
}